include ../boat/boat.pug
include ../terrain/terrain.pug

mixin game
  +b.game
    +terrain
    +boat
    +e.log
    +e.AUDIO.bg-sound(src='media/bg.mp3' loop)
    +e.AUDIO.harvest-sound(src='media/bonk.mp3')
    +e.AUDIO.special-sound(src='media/wow.mp3')