.coast {
  width: 20%;
  height: 100%;
  // border: 2px solid yellow;
  background-color: yellowgreen;
  // position: absolute;
  // top: 0;
  // right: 0;
  display: flex;
  flex-direction: column;
  &__bend {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    position: relative;
    left: -100px;
  }
}