.terrain {
  width: 100%;
  height: 500%;
  // border: 1px solid red;
  // background-color: darkblue;
  background-image: url('./water.gif');

  display: flex;
  justify-content: space-between;

  &__container {
    width: 100%;
    height: 100%;
    // border: 2px solid green;
    overflow-y: scroll;
    transform: scaleY(-1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    &_blocked {
      overflow-y: hidden;
    }
  }
}